/* index_ET-710_landing-page.css */
html {
    background-image: url("https://wallpapercave.com/wp/wp2754877.jpg");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: center;
}
