* { box-sizing: border-box; }
/* SCREEN SIZE */

/* Large screen size 1450px */
@media only screen and ( max-width: 1450px )
{
    .maincontainer { width: 100%; height: auto; }
    img.socialmedia { width: auto; height: auto; }
    .card { background-color: lightcoral; width: 40%; }
    .cardtitle { text-align: center; }
    .link {
        padding: 1em 2em;
	font-size: 1.1em;
    }
    .headertitle { font-size: 1.2em; }
}

/* medium screen size 800 px */
@media only screen and ( max-width: 800px )
{
    .maincontainer { height: auto; }
    .card { background-color: lightblue; width: 40%; }
    .headertitle { width: 90%; padding: 1em; font-size: 3em; }
    .header { flex-wrap: wrap; }
    .navlink { width: 100%; justify-content: center; }
}

/* CARDS */
.maincontainer {
    border: solid gray 1px;
    width: 100%;
    margin: 2em auto;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    width: 300px;
    margin: 1%;
    border: solid gray 2px;
    background-color: aquamarine;
    padding: 1%;
}

.header{
    width: 100%;
    display: flex;
    background-color: orange;
    align-items: center;
    margin: 2em auto;
}

.headertitle {
    text-align: center;
    color: lightcyan;
    width: 40%;
    font-size: 2em;
}
.navlinks {
    background-color: orange;
    width: 90%;
    display: inline-block;
    justify-content: center;
}

.link {
    display: inline-block;
    padding: 1em 3em;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2em;
}
.link:hover {
    background-color: aliceblue;
    color: blue;
}


.footer {
    width: 100%; box-shadow: 5px 5px 5px lightgray;
    display: flex;
    justify-content: center;
    font-size: small;
    background-color: whitesmoke;
    border-radius: 2px;
}
	
.footercustomer, .footerfollow, .footermyaccount {
    width: 30%;
    padding: 0em 1em;
    margin-left: -40px;
    text-align: left;
}

.footerlist li{
    margin-left: -40px;
    list-style: none;
    text-align: left;
    padding: 0.5em 0em;
}

.footertitle {
    text-align: left;
    font-weight: bolder;
    font-size: 1.2em;
}

.socialmedia {
    display: flex;
}

.socialmedia a{
    display: inline-block;
    width: 10%;
    margin-right: 5%;
}

/* selector with img element specificity */
img.socialmedia {
    width: 30px;
    height: 30px;
}
