*{
    box-sizing: border-box;
} /* declaration with a universal selector*/

/* .container
{
    background-color: lightgray; width: 100%; height: auto;
} */

.header { /* with a class identifier for our header */
    width: 80%; margin: 1em auto; box-shadow: 5px 5px 5px black; padding: 20px;
    font-size: 30px; font-weight: 600; text-align: center; background-color: white;
}

.images { /* with a class identifier for images */
    border:solid green;
    height: 50%;
    width: 50%;
}

.images img { /* images selector with img element specificity */
    width: 40%;
    height: 400px;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.source_links { /* for those cool links to the train sites */
    text-align: center;
    font-size: 10;
}
